header {
  text-align: center;
}

footer {
  text-align: center;
}

#board {
  width: 75%;
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
}

#info {
  display: inline-block;
  width: 15%;
  border: 2px solid darkBlue;
  padding: 5px;
}

.board-square {
  display: inline-block;
  border: 2px solid darkRed;
  height: 50px;
  width: 10%;
  background-color: white;
}

.playable-square {
  background-color: darkRed;
  color: white;
}

/* TODO: do something better than using paragraphs */
p {
  border: 1px solid black;
}
