header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}

/*********************/
/* Rules for board */
/*********************/

#board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

#board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.board-square {
  display: flex;
  border: 2px solid darkRed;
  height: 75px;
  /*width: 12.5%;*/
  width: 75px;
  background-color: white;
}

.playable-square {
  background-color: darkRed;
  /*background-image: url("images/red-wood.png");*/
  /*background: url("images/red-piece.png");*/
  color: white;
  /*color: url("images/red-wood.png");*/
}

.highlight {
  background: yellow;
}

img {
  display:flex;
  width: 100%;
}

/***************************/
/* Rules for information elements */
/***************************/

#info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  padding: 2px;
  width: 20%;
  min-width: 200px;
}

#info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*width: 20%;*/
  /*min-width: 200px;*/
  border: 2px solid darkBlue;
  padding: 5px;
}

.field {
  display: flex;
  width: 96%;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2%;
  margin-right: 4%;
}


#new-game {
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  background: lightBlue;
}

#turn {
  height: 2em;
}

.redTurn {
  color: red;
}

.blackTurn {
  color: black;
}

#winner {
  height: 2em;
}

/*checkbox label*/
label {
  color: gray;
}
