header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}

#board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

#board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.board-square {
  display: flex;
  border: 2px solid darkRed;
  height: 50px;
  width: 12.5%;
  background-color: white;
}

.playable-square {
  background-color: darkRed;
  color: white;
}

.highlight {
  background: yellow;
}

#info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  padding: 2px;
  width: 20%;
  min-width: 200px;
}

#info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*width: 20%;*/
  /*min-width: 200px;*/
  border: 2px solid darkBlue;
  padding: 5px;
}

.field {
  display: flex;
  width: 96%;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2%;
  margin-right: 4%;
}
